* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Geologica', Arial, Helvetica, sans-serif;
}
.color-text-top {
    text-decoration: none;
    color: white;
}
a {
    text-decoration: none;
    color: black
}
a:hover {
    background-color: rgb(226, 224, 224)
}
ul {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 1.5rem;
    height: 2rem;
    background-color: black;
    width: 100%;
    padding-left: 1rem;
    position: fixed;
}
#UM {
    background-color: rgb(146, 144, 144);
}
#DOIS {
    background-color: rgb(163, 161, 161);
}
#TRES {
    background-color: rgb(196, 193, 193);
}
#QUATRO {
    background-color: rgb(201, 198, 198);
}
#CINCO {
    background-color: rgb(211, 209, 209);
}
#SEIS {
    background-color: rgb(223, 220, 220);
}
section {
    min-height: 100vh;
    padding-top: 2.5rem;
    padding-left: 1rem;
}
